.btn {
	margin: 0 auto;
	width: 370px;
	height: 80px;
	background: $red;
	border: 0;
	color: $white;
	@include ffr900;
	font-size: 24px;
	@include center;
	text-transform: uppercase;
	border-radius: 0;

	@media (max-width: 1200px) {
		width: 314px;
	}

	@media (max-width: 576px) {
		height: 60px;
		width: 280px;
		font-size: 18px;
	}

	&:hover {
		background: $red-active;
		color: $white;
	}

	&:active {
		background: $red;
		color: $white;
		box-shadow: 4px 4px 30px $red;
	}
}