.cards {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;

	@media (max-width: 1200px) {
		margin: 0 -10px;
	}

	@media (max-width: 576px) {
		margin: 0;
	}

	&__item {
		padding: 0 15px;
		flex-direction: column; 

		@media (max-width: 1200px) {
			padding: 0 10px;
		}
	
		@media (max-width: 576px) {
			padding: 0;
		}

		&--3-in-row {
			width: 33.333%;
		
			@media (max-width: 576px) {
				width: 100%;
			}
		}

		&--4-in-row {
			width: 25%;
		
			@media (max-width: 576px) {
				width: 100%;
			}
		}

		&--margin-top {
			margin-top: 89px;

			@media (max-width: 1200px) {
				margin-top: 49px;
			}
		
			@media (max-width: 576px) {
				margin-top: 0;
			}
		}

		&--center {
			@include center;
		} 

		&--top {
			justify-content: start;
		} 

		&--left {
			@include left;
		} 

		&:not(:first-of-type) {
		
			@media (max-width: 576px) {
				margin-top: 41px;
			}
		}

		&--margin-bottom {

			// @media (max-width: 576px) {
			// 	margin-top: 0;
			// }
		
			&:first-of-type {	

				@media (max-width: 576px) {
					margin: 0 0 69px;
				}
			}

			&:nth-of-type(2) {

				@media (max-width: 576px) {
					margin: 0 0 59px;
				}
			}

			&:last-of-type {

				@media (max-width: 576px) {
					margin: 0;
				}
			}
		}
	}

	&__title {
		font-size: 24px;
		text-transform: uppercase;
		width: 100%;

		@media (max-width: 1200px) {
			font-size: 18px;
		}

		&--black {
			@include ffr900;
			margin: 29px 0 20px;
			height: 72px;
			@include center;

			@media (max-width: 1200px) {
				margin: 23px 0 4px;
				height: 61px;
			}
		
			@media (max-width: 576px) {
				margin: 21px 0 0;
				height: 54px;
			}
		}

		&--bold {
			@include ffr700;
			margin: 30px 0 5px;
			line-height: 30px;

			@media (max-width: 1200px) {
				margin: 25px 0 5px;
				line-height: 25px;
			}
		}
	}

	&__description {
		@include ffr400;
		font-size: 18px;
		line-height: 21px;
		width: 100%;

		@media (max-width: 1200px) {
			font-size: 14px;
			line-height: 16px;
		}

		&--red {
			margin-bottom: 18px;
			color: $red;
			text-transform: uppercase;

			@media (max-width: 1200px) {
				margin-bottom: 22px;
			}
		
			@media (max-width: 576px) {
				margin-bottom: 38px;
			}
		}

		&--uppercase {
			text-transform: uppercase;
			margin-bottom: 29px;
			@include ffr700;

			@media (max-width: 1200px) {
				margin-bottom: 16px;
			}
		
			@media (max-width: 576px) {
				margin-bottom: 36px;
			}
		}

		&--white {
			color: $white;
		}
	}

	&__socials {
		width: 100%;
		height: 100%;

		&--small-margin {
			display: flex;   /* почему при добавлении этого свойства ссылка пеменята свой размер на нормальный?*/
			justify-content: start;
			margin-top: 38px;

			@media (max-width: 1200px) {
				margin-top: 39px;
			}
		
			@media (max-width: 576px) {
				margin-top: 55px;
			}

			a {

				@media (max-width: 1200px) {
					height: 33px;
					width: 33px;
				}
			
				@media (max-width: 576px) {
					height: 40px;
					width: 40px;
				}

				&:not(:first-child) {
					margin-left: 5px;
				
					@media (max-width: 576px) {
						margin-left: 6px;
					}
				}
			}
		}
		
		&--large-margin {
			margin-top: 20px;
			@include center;
			height: 100%;
			height: 100%;

			@media (max-width: 1200px) {
				margin-top: 17px;
			}
		
			@media (max-width: 576px) {
				margin-top: 0;
			}

			a {

				@media (max-width: 1200px) {
					height: 33px;
					width: 33px;
				}

				&:not(:first-child) {
					margin-left: 27px;

					@media (max-width: 1200px) {
						margin-left: 23px;
					}
				
					@media (max-width: 576px) {
						margin-left: 17px;
					}
				}

				img {
					height: 100%;
					width: 100%;
				}
			}
		}
	}
}