.features {
	padding: 116px 0 134px;

	@media (max-width: 1200px) {
		padding: 78px 0 80px;
	}

	@media (max-width: 576px) {
		padding: 40px 0 35px;
	}

	&__icon {
		
		@media (max-width: 1200px) {
			width: 85px;
			height: 85px;
		}
	
		@media (max-width: 576px) {
			width: 76px;
			height: 76px;
		}
	}
}