@font-face {
	font-family: 'Raleway400';
	src: url("../fonts/Raleway400/AnyConv.com__Raleway-Regular.woff2") format("woff2"),
	url("../fonts/Raleway400/AnyConv.com__Raleway-Regular.woff") format("woff"),
	url("../fonts/Raleway400/Raleway-Regular.ttf") format("truetype"),
	url("../fonts/Raleway400/AnyConv.com__Raleway-Regular.eot") format("eot"),
	url("../fonts/Raleway400/AnyConv.com__Raleway-Regular.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway500';
	src: url("../fonts/Raleway500/AnyConv.com__Raleway-Medium.woff2") format("woff2"),
	url("../fonts/Raleway500/AnyConv.com__Raleway-Medium.woff") format("woff"),
	url("../fonts/Raleway500/Raleway-Medium.ttf") format("truetype"),
	url("../fonts/Raleway500/AnyConv.com__Raleway-Medium.eot") format("eot"),
	url("../fonts/Raleway500/AnyConv.com__Raleway-Medium.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway700';
	src: url("../fonts/Raleway700/AnyConv.com__Raleway-Bold.woff2") format("woff2"),
	url("../fonts/Raleway700/AnyConv.com__Raleway-Bold.woff") format("woff"),
	url("../fonts/Raleway700/Raleway-Bold.ttf") format("truetype"),
	url("../fonts/Raleway700/AnyConv.com__Raleway-Bold.eot") format("eot"),
	url("../fonts/Raleway700/AnyConv.com__Raleway-Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway900';
	src: url("../fonts/Raleway900/AnyConv.com__Raleway-Black.woff2") format("woff2"),
	url("../fonts/Raleway900/AnyConv.com__Raleway-Black.woff") format("woff"),
	url("../fonts/Raleway900/Raleway-Black.ttf") format("truetype"),
	url("../fonts/Raleway900/AnyConv.com__Raleway-Black.eot") format("eot"),
	url("../fonts/Raleway900/AnyConv.com__Raleway-Black.svg") format("svg");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Cardo400Italic';
	src: url("../fonts/Cardo400Italic/AnyConv.com__Cardo-Italic.woff2") format("woff2"),
	url("../fonts/Cardo400Italic/AnyConv.com__Cardo-Italic.woff") format("woff"),
	url("../fonts/Cardo400Italic/Cardo-Italic.ttf") format("truetype"),
	url("../fonts/Cardo400Italic/AnyConv.com__Cardo-Italic.eot") format("eot"),
	url("../fonts/Cardo400Italic/AnyConv.com__Cardo-Italic.svg") format("svg");
	font-weight: 400;
	font-style: italic;
}