.footer {
	padding: 71px 0 161px;
	background: $blue;

	@media (max-width: 1200px) {
		padding: 47px 0 131px;
	}

	@media (max-width: 576px) {
		padding: 34px 0 123px;
	}

	.container {
		max-width: none;
	}

	&__bottom {
		background: $dark-blue;
		padding: 24px 0;
		@include center;
		position: absolute;
		bottom: -161;    
		right: 0;
		left: 0;
		height: 90px;

		@media (max-width: 1200px) {
			padding: 14px 0;
			bottom: -131px;
		}
	
		@media (max-width: 576px) {
			padding: 30px 0 28px;
			bottom: -123px;
		}

		p {
			@include ffr400;
			font-size: 18px;
			line-height: 21px;
			color: $dark-grey;
			width: 100%;

			@media (max-width: 1200px) {
				font-size: 14px;
				line-height: 16px;
			}

			span {
				color: $white;
			}
		}
	}
}